* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;	
}

body {
	background-color: #fff;	
	color: #333;	

}

#left {
	width: 400px;
	display: block;	
	position: absolute;
	left: 0;
	height: 100%;
}

#container {
	position: relative;
	margin: 0px auto;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);	
}

#instructions {
	display: block;
	font-size: 12px;
	color: #ccc;
	text-align: center;
	width: 300px;
	margin: 30px auto;
}

#controls {
	position: absolute;
	bottom: 0;	
	background-color: #ffffff;
	width: 320px;
	margin: 30px 40px;
}

#right {
	width: 70%;
	display: block;		
	left: 400px;
	position: absolute;
	background-color: #ff0000;
	height: 100%;
	overflow: hidden;
}

#originalImage  {
	width: 100%;
	height: 100%;
	position: absolute;	
}

.refDiv {	
	background: rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,0.4);	
}

.refDivBig {	
	border-bottom: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,0.4);
 	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
	cursor: pointer;
}

h1 {
	text-align: center;
	margin: 150px 0 0 0;
	color: #333;
	font-size: 16px;
	text-transform: uppercase;
}

h2 {
	color: #333;
	font-size: 12px;
	text-transform: uppercase;
}

.label {
	display: inline-block;
	width: 100%;
	margin: 20px 0 10px 0;
	font-size: 12px;
	color: #666;	
}

.ui-slider {
	background-color: #eee !important;
	height: 2px !important;
	border: 0 !important;
	cursor: pointer;
}

div.ui-slider-handle {
	background-color: #4A90E2 !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	width: 12px !important;
	height: 12px !important;	
	border: 0 !important;
	cursor: pointer !important;
}

.ui-slider-range {
	background-color: #4A90E2 !important;
	height: 2px !important;
	border: 0 !important;
}

#imgInput {
	background: #ffffff;
	padding: 20px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	width: 340px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);	
	display: none;
}

#imgInputField {
	height: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	border: 1px solid #ccc;
	padding: 3px 0 3px 10px;
}

#fieldLabel {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	margin: 0 0 10px 0;
}

.button {
	margin: 0 0 0 10px;
	height: 36px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-width: 65px;
	outline: none;
	background-color: #4A90E2;
	color: #fff;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.error {
	border: 1px solid red !important;	
}

.errorText {
	color: red;
}

.smallDiv {
	display: block;
 	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}

.smallDiv.selected {
	border: 2px solid rgba(74,144,226,1) !important;
	background-color: rgba(74,144,226,0.6) !important;
}

.refDivBig.selected {
	border: 1px solid rgba(74,144,226,1) !important;
	background-color: rgba(74,144,226,0.6) !important;
}

#imageTable {
	margin: 30px 0 0 0;	
	border-collapse: collapse;
	cursor: pointer;
}

#imageTable tr {	
}

#imageTable tr td {	
	text-align: center;
	vertical-align: top;	
	overflow: hidden;	
	height: 55px;
	display: inline-block;
	margin: 0 10px 10px 0;
}

#imageTable tr td a {
	display: inline-block;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	vertical-align: middle;
	padding: 0px 0 0 0;
	border: 1px solid #eee;
	background-color: #4A90E2;
	color: #fff;	
	font-size: 22px;	
	margin: 12px 0px 0px 12px;
}

#imageTable tr td img{
	width: 54px;	

}