* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;	
}

body {
	background-color: #fff;	
	color: #333;	

}

#container {
	position: relative;
	margin: 20px auto;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);	
}

#instructions {
	display: block;
	font-size: 12px;
	color: #ccc;
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin: 150px 0 0 0;
	color: #333;
	font-size: 16px;
	text-transform: uppercase;
}

h2 {
	color: #333;
	font-size: 12px;
	text-transform: uppercase;
}

.label {
	display: inline-block;
	width: 100%;
	margin: 20px 0 0 0;
	font-size: 12px;
	text-transform: uppercase;
}

input {

}

#control_panel {
	background-color: rgba(255,255,255,0.95);
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100px;
	padding: 40px;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}

#imgInput {
	background: #ffffff;
	padding: 20px;
	position: absolute;
	right: 40px;
	width: 300px;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);	
	display: none;
}

.smallDiv {
	display: block;
}

.control_link {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: underline;
	position: absolute;
	cursor: pointer;
}

#open_panel {
	top: 10px;
	right: 10px;
}

#close_panel {
	top: 10px;
	right: 10px;
}

#imageTable {
	margin: 10px 0 0 0;	
	border-collapse: collapse;
	cursor: pointer;
}

#imageTable tr {
	
}

#imageTable tr td {
	width: 100px;
	text-align: center;
	vertical-align: top;	
}

#imageTable tr td#plus {
	vertical-align: middle;
	border: 1px solid #eee;
}

#imageTable tr td img{
	width: 30px;
}